@font-face{
    font-family: 'bold';
    src: url(fonts/inter-v19-latin-700.woff2);
}
@font-face{
    font-family: 'light';
    src: url(fonts/inter-v19-latin-500.woff2);
}
@font-face{
    font-family: 'medium';
    src: url(fonts/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBHMdazQ.woff2);
}
body, html{
    /* width: 100%; */
    height: 100%;
    overflow-x: hidden;
}
.houradsContainer{
position: relative;
text-align: center;
width: 100%;
height: 108px;
background-color: #f2f2f2;
padding-bottom: 12px;
color: #6f7585;
font-size: 10px;
}
.hourheadAds{
    position: relative;
    background-color: rgba(205, 205, 205, 0.345)
}
.hourHeaderAddress{
    /* padding-left: 16px;
    padding-right: 16px; */
    width: 100%;
}
.houraddress{
    display: flex;
    text-align: left;
    border-radius: 8px;    
    border: none;
    width: 100%;
    cursor: pointer;
    margin: 12px 0;
    padding:12px;
}
.hourLoca{
    color:#252422 ;
    font-family: light;
    font-weight: 500;
    font-size: 18px;
}
.locationImg{
    width: 16px;
    margin-right: 8px;
}
.hourmainContent{
    display: block;
    position:relative ;
    margin-left: 4px;
}
.hourlargeScreen{
    display: block;
    margin: 12px auto;
    /* display: grid;
    grid-template-columns: minmax(0, 1fr) 350px;
    grid-column-gap: 12px; */
    max-width: 1162px;
}
.hourcontent{
    border-bottom: 1px solid #676767;
}
.hourlocationTitle{
    font-size: 1.5rem;
    line-height: 1.08em;
    font-family: bold;
    margin: 0px;
    padding: 0px;
}
.hourbar{
    font-family: medium;
    font-size: 1rem;
    padding-left: 4px;
    line-height: 1.08rem;
    font-weight: 400;
}
.hourplace{
    margin-left: 4px;
    font-family:medium ;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.08rem;
}
.hourtimes{
    padding: 0 0 16px;
    padding-right: 6px;
    font-family: light;
    font-weight: 400;
    /* flex: 0 0 80px; */
    opacity: 0.65;
    font-size: 14px;
}
/**/
.hourtime{
    flex:0 0 50px;
    font-weight: 500px;
    font-size: 14px;
}
.hourtemp{
    font-family: bold;  
    flex: 0 .5 94px;
}
.hoursun{
    display: flex;
    align-items: center;
    gap: 6px;
    flex: 1 1 160px;
}
.hourperc{
    padding-right: 15px;
    flex: 0 0 54px;
    justify-content: flex-end;
    display: flex;
}
.hourwind{
    padding-left: 13px;
    font-size: 1rem;
    flex:0 0 145px
}
.hourdate{
    font-family: bold;
    padding: 16px 0;
    font-weight: 600;
    line-height: 1;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    margin: 0;
    font-size: 1rem;
}
.hoursummary{
    padding: 4px 0;
    font-family: light;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    max-width: 100%;
    justify-content: space-between;
}
.hoursummaryContent{
    padding: 4px 0;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: rgb(37, 36, 34);
    font-size: 16px;
}
.hoursummaryContent .times{
    flex: 0 0 80px;
}

.hourrain-drop{
    margin-right: 3px; 
    width: 17px; 
}
.hourarrow{
    margin-right: -2px;
    color: #8d8d8d;
    width: 17px;
    height: auto;
}
.hoursubtract, .houradd{
    margin-left: 6px;
}
.hoursubtract{
    display: none;
}
.hoursummaryContents .houradd{
    display:block;
}
.hourdayPartDetails{
    margin-top: 10px;
    margin-bottom: 16px;
    background:#e8e8e8 ;
    border-radius: 16px;
    padding: 16px 24px;
    list-style: none;
    display: none;
}
.hourweather{
    font-size: 0.875rem;
    margin: 0 0 14px;
    margin-top: 16px;
}
.hourdata{
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    display: none;
}
.hourlist, .hourlists{
    display: flex;
   border-top: none;
   margin-top: 0;
   padding-top:0;
   width: 50%;
   max-width: 901px;
}
.hourlists{
    border-top: 1px solid #dedede;
    margin: 15px 0 0;
    padding: 15px 0 0;
}
.hourimg{
    width: 24px;
    margin-right: 10px;
}
.hourfeelsLike{
    font-family: medium;
    font-size: 1rem;
    line-height: 1.2;
}
.hourtempValue{
    margin: 0;
    font-size: 0.875rem;
    font-family: bold;
}
.hourexpandedDetails{
    padding-top: 4px 0;    
}
.hourads{
    border-bottom: 1px solid #676767;
    margin-bottom: 24px;
    padding-bottom: 24px;
    height: auto;
    width: 100%;

    background-color: #f2f2f2;
    color: #6f7585;
    font-size: 10px;
    text-align: center;
    margin-left: auto;
}
.hourads img {
    width: auto;
    max-width: 280px;
}
.hourads, .hourads img, .rightads{
    position: static;
    max-width: 350px;
    width: 100%;
    display: block;
    z-index: 1;
}
.active{
    border: 2px solid;
    font-weight: 700;
}
.hidden{
    display: none;
}
.hourTenDay{
  display: flex;
  justify-content: flex-end;
}
.hourTenDayBtn{
    margin: 0 16px 16px;
    background-color: #252422;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 16px;
    line-height: 1.5;
    font-size: 14px;
}
@media (min-width:1024px){
    .hourlist, .hourlists{
        width: 33.33%;
    }
    .none{
        border: none;
        margin: 0;
        padding: 0;
    }
    .hourHeaderAddress{
        display: none;
    }
    .hourweather{
        display: block;
    }
}
@media (max-width:768px){
    .hourlist, .hourlists{
        width: 50%;
    }
    .hourdayPartDetails{
        width: 66vw;
        max-width: 100vw;
        margin: 0;
        padding: 16px;
        box-sizing: border-box;
    }
    .hourlargeScreen{
        grid-template-columns: minmax(0, 17fr) minmax(0, 8fr);
    }
    .hourweather{
        display: none;
    }
}
@media (max-width:425px){
    .hourcontent, .hoursummaryContent, .hourtableDetails{
        width: 100vw
    }
    .hourads{
        display: none;
    }
    .hourlargeScreen{
        display: block;
    }
}
/**/
.hourTenDay{
  display: flex;
  justify-content: flex-end;
}
.hourTenDayBtn{
    margin: 0 16px 16px;
    background-color: #252422;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 16px;
    line-height: 1.5;
    font-size: 14px;
}
.active{
    border: 2px solid;
    font-weight: 700;
}
.hidden{
    display: none;
}