@media screen and (max-width : 1024px){
    .mainAd{
        display: none;
    }
    .location{
        display: block;
        padding: 0 16px;
    }
    .location-btn{
        margin: 12px 0;
        border: none;
        border-radius: 8px;
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        padding: 0 12px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    .location-img{
        margin-right: 8px;
    }
    .marginBar{
        margin: 12px  auto 0 auto;
    }
    .mainBar{
        display: block;
    }
    .title h1{
        font-size: 20px;
        line-height: 1;
        padding: 16px 0 8px;
    }
    .place{
        font-size: 14px;
    }
    .today{
        height: 30px;
    }
    .day-night-parts{
        display: block;
    }
    .rain, .windSpeed{
        line-height: 1.3;
    }
    .weather li:not(:nth-child(-n+2)){
        padding: 8px 0 0;
        margin: 8px 0 0;
    }
    .icons{
        width: 16px;
    }
    .r1{
        font-size: 12px;
    }
    .r2{
        font-size: 14px;
        font-weight: 700;
    }
    .eachDay{
        font-size: 14px;
    }
    .date{
        flex: 0 0 65px;
    }
    .eachDay-img{
        justify-content: center;
        flex: 1 1 auto;
        margin: 0 6px 0 8px;
    }
    .sun-img, .moon-img{
        margin: auto;
        padding: 0;
    }
    .eachDay-txt{
        display: none;
    }
    .degrees{
        flex: 0 .5 60px;
        padding: 0 0 0 8px;
        font-size: 16px;
    }
    .night-deg{
        font-size: 14px;
    }
    .humid{
        padding: 0 8px;
    }
    .eachDay-rain-drop{
        margin-right: 1px;
    }
}
@media screen and (min-width: 481px){
    .marginBar{
        margin: 12px auto 0 auto; 
    }
}
@media screen and (min-width: 1241px) {
    .Radar-img{
        height: 400px;
    }
}