* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "regular";
}
@font-face {
  font-family: "regular-500";
  src: url("fonts/inter-v19-latin-500.woff2");
}
@font-face {
  font-family: "regular-700";
  src: url("fonts/inter-v19-latin-700.woff2");
}
@font-face {
  font-family: "bold";
  src: url("fonts/4UaRrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iq2vgCI.woff2");
}
@font-face {
  font-family: "regular";
  src: url("fonts/inter-v19-latin-regular.woff2");
}
a {
  color: #252422;
}
a:hover {
  color: #252422cc;
}
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  padding-top: 20px;
}
.signin-main {
  margin: 12px auto;
  max-width: 1138px;
}
.sign-main {
  max-width: 614px;
  margin: 0 auto;
  padding: 16px;
}
.signin-h2 {
  font-family: "regular-500", "Inter Fallback: Arial", "Inter Fallback: Roboto",
    Arial, sans-serif;
  margin: 12px 0 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.17;
  color: #252422;
  white-space: nowrap;
}
.signin-p {
  margin: 6px 0 24px;
  font-size: 0.875rem;
  line-height: 1.29;
  color: #252422;
}
.signin-up {
  color: #252422;
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 1.15;
}
.google-btn {
  background-color: transparent;
  border-radius: 20px;
  padding: 0 12px 0 8px;
  background-color: #fff;
  border: 1px solid #dadce0;
  font-family: "bold", arial, sans-serif;
  height: 40px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.google-btn:hover {
  background-color: rgba(66, 133, 244, 0.08);
  transition: background-color 0.218s;
}
.google-btn img {
  height: 26px;
  width: 26px;
  margin-right: 4px;
}
.google-btn span {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  color: #3c4043;
}
.signin-horizontalline {
  border-bottom: 1px solid #dee0e3;
  margin: 30.5px 0 25.5px;
  max-width: 520px;
  line-height: 0.1em;
  text-align: center;
}
.signin-horizontalline span {
  background-color: #fff;
  padding: 0 12px;
}

.signin-form {
  margin-top: 24px;
  max-width: 544px;
  min-width: 369px;
}
.signin-inputbox {
  position: relative;
  margin-bottom: 36px;
  max-width: 519px;
}
.signin-inputbox input {
  padding: 18px 40px 0px 7px;
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid #0000;
  box-shadow: 0 1px 4px 0 #00000040;
  width: 100%;
  height: 60px;
  max-width: 519px;
}

.signin-inputbox label {
  position: absolute;
  left: 4px;
  top: 40%;
  transform: translateY(-50%);
  color: #6f7585;
  font-size: 1rem;
  pointer-events: none;
  background: #fff;
  padding: 0 6px;
  transition: 0.2s ease;
}
.password-box {
  margin-top: 3.125rem;
  position: relative;
}
.signin-inputbox input:focus + label,
.signin-inputbox input:valid + label {
  top: 10px;
  font-size: 12px;
}
.signin-inputbox input:focus {
  border: 2px solid #1b4de4;
  outline: none;
}

.forgot {
  position: absolute;
  right: 0;
  font-size: 0.875rem;
  position: absolute;
  top: -25px;
}
.eye-btn {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-45%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}
.signin-btn {
  margin: 15px 25px 15px 0 !important;
  text-align: end;
}
.signin-btn button {
  background-color: #545351;
  border-radius: 8px;
  padding: 10px 16px;
  min-width: 120px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  color: #cdcdcd;
  opacity: 1;
  border: none;
  font-family: "regular-500";
}

/* signup */
.signup {
  display: flex;
  justify-content: center;
  width: 100%;
}
.signup-adds {
  flex: 0 0 40%;
  height: 100vh;
  position: sticky;
  top: 0;
  width: 40%;
}
.signup-adds img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.signup-form {
  flex: 1;
  width: 100%;
  max-width: 693px;
  min-width: 0;
  margin: 0 auto;
  padding: 16px;
  position: relative;
  color: #252422;
}
.signup-form h2 {
  font-family: "regular-500";
  margin: 12px 0 20px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.17;
}
.signup-text {
  background: #2524220d;
  border-radius: 16px;
  margin-bottom: 25px;
  padding: 16px;
  min-width: 0;
  width: 100%;
  max-width: 661px;
}
.signup-text div {
  font-size: 0.875rem;
  line-height: 1.15;
}
.signup-text ul {
  padding-left: 27px;
  margin: 8px 0 0;
}
.signup-text li {
  font-size: 0.875rem;
  line-height: 1.15;
  font-family: "regular-700";
}
.signinup-form .signin-inputbox {
  max-width: 661px;
}
.signup-google {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 22.5px;
}
.signup-account {
  margin-bottom: 0;
}
.signinup-form {
  max-width: none;
}
.signinup-form input {
  max-width: 637px;
  border-radius: 5px;
}
.signup-privacypolicy {
  margin: 14px 0 18px;
  display: flex;
  gap: 4px;
}
.signup-privacypolicy div {
  display: flex;
  font-size: 0.875rem;
  margin-top: 2px;
}
.signup-privacypolicy .signin-p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  color: #252422;
}
.signup-link {
  color: #1b4de4;
}
.signup-link:hover {
  color: #1b4de4;
  text-decoration: none;
}
.signin-form .signup-btn {
  margin: 0 23px 24px !important;
  text-align: end;
}
.signin-password {
  position: relative;
  box-sizing: border-box;
}
.signin-passwordinfo p {
  margin-bottom: 0;
  font-size: 0.875rem;
  box-sizing: border-box;
  margin-top: 16px;
}
.signin-passwordinfo ul {
  margin-top: 0.3125rem;
  list-style-type: disc;
  margin-top: 7px;
}
.signin-passwordinfo li {
 position: relative;
  color: #686c74;
  font-size: 0.875rem;
  line-height: 1.14;
  padding: 8px 0 0 4px;
  margin-left: -0.8rem;
}

.signin-up a:hover {
  color: #252422cc;
}
.signin-backbtn a:hover {
  color: #252422cc;
  text-decoration: underline;
}
.signin-validicon {
  height: 18px;
  position: absolute;
  top: 20px;
  width: 18px;
  right: 0;
}
.error-msg {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}