* {
  padding: 0;
  margin: 0;
  font-family: Inter, "Inter Fallback: Arial", "Inter Fallback: Roboto", Arial,
    Roboto, sans-serif;
}
.radar {
  display: flex;
}
.radar .main {
  flex: 1;
}
.radar .main-container {
  display: flex;
}
.radar .map {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}
.radar #map {
  height: 100vh;
}
.radar .weather-list {
  display: flex;
  justify-content: space-between;
  padding: 6px 15px;
  width: 569.94px;
  margin: 0 auto;
}
.radar .weather {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 15px 0px 0px;
}
.radar .weather img {
  margin: 0px 8px 0px 0px;
}
.radar .weather span {
  margin: 0px 8px 0px 0px;
  white-space: nowrap;
  font-size: 13px;
}
.radar .map-head p {
  color: #6f7585;
  padding: 6px 0px 0px;
  text-align: center;
  font-size: 14px;
}
.radar .rain {
  width: 64px;
  height: 10px;
}
.radar .freezing-rain {
  width: 64px;
  height: 10px;
}
.radar .mix {
  width: 64px;
  height: 10px;
}
.radar .snow {
  width: 64px;
  height: 10px;
}
.leaflet-touch .leaflet-bar {
  border: none;
  background-clip: padding-box;
}
.leaflet-touch .leaflet-bar a:first-child {
  border-radius: 25px 25px 0 0;
}
.leaflet-touch .leaflet-bar a:last-child {
  border-radius: 0 0 25px 25px;
}
.leaflet-control-zoom-in {
  position: absolute;
  background: white;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #444;
  cursor: pointer;
  top: 87px;
  left: 12px;
}
.leaflet-control-zoom-out {
  position: absolute;
  background: white;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #444;
  cursor: pointer;
  top: 140px;
  left: 12px;
}
.leaflet-touch .leaflet-bar a {
  width: 52px;
  height: 52px;
  line-height: 54px;
}
.leaflet-control-zoom a:hover {
  background: #f0f0f0;
}
.radar .loc {
  position: absolute;
  top: 80px;
  color: blue;
  background-color: #fff;
  width: 20px;
  height: 20px;
  z-index: 999;
  padding: 16px;
  left: 21px;
  border-radius: 50%;
}
.radar .map .expand {
  position: absolute;
  top: 269px;
  background-color: #fff;
  z-index: 999;
  width: 17px;
  padding: 15px;
  left: 25px;
  border-radius: 50%;
}
.radar .map svg path {
  fill: black;
}
.radar .map .loc path {
  fill: black;
}
.radar .map .loc path:hover {
  fill: blue;
}
